#experience {
  display: flex;
  flex-direction: column;
  align-items: center;

  .timeline {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;

    .timeline-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 0 20px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: #000;
        z-index: -1;
      }

      &:first-child:before {
        left: 50%;
        width: 50%;
      }

      &:last-child:before {
        left: 0;
        width: 50%;
      }

      .company {
        background-color: #ff8c00;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
      }

      .role {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
      }

      .duration {
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
      }
    }

    .timeline-icon {
      width: 50px;
      height: 50px;
      background-color: #000;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
}
